<!-- Navbar -->
<nav
  class="bg-gray-900 text-white p-4 flex flex-wrap justify-between items-center relative"
>
  <!-- Logo -->
  <a class="text-2xl font-bold mb-2 md:mb-0" href="/">Fakecommerce</a>

  <!-- Barra de búsqueda (desktop) -->
  <div class="hidden md:flex flex-grow justify-center px-4">
    <div class="flex w-full max-w-md">
      <input
        [(ngModel)]="searchTerm"
        (keyup.enter)="search()"
        type="text"
        placeholder="Search products..."
        class="w-full px-4 py-2 rounded-l bg-gray-100 text-black focus:outline-none"
      />
      <button
        (click)="search()"
        class="bg-blue-500 px-4 py-2 rounded-r hover:bg-blue-700"
      >
        Search
      </button>
    </div>
  </div>

  <!-- Desktop Menu -->
  <ul class="hidden md:flex space-x-6 items-center">
    <li><a href="/" class="hover:text-gray-400">Home</a></li>

    <!-- Dropdown Categorías -->
    <li class="relative group">
      <a href="#" class="hover:text-gray-400 flex items-center">Category ▼</a>
      <ul
        class="absolute left-0 mt-2 w-48 bg-gray-800 text-white rounded shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        <!-- Technology -->
        <li class="group/tech">
          <a
            href="/product/category/Technology"
            class="block px-4 py-2 hover:bg-gray-700"
            >Technology</a
          >
          <ul
            class="absolute right-full top-0 w-40 bg-gray-800 text-white rounded shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 invisible group-hover/tech:visible"
          >
            <li>
              <a
                href="/product/category/Technology/subcategory/Console"
                class="block px-4 py-2 hover:bg-gray-700"
                >Consoles</a
              >
            </li>
            <li>
              <a
                href="/product/category/Technology/subcategory/PC"
                class="block px-4 py-2 hover:bg-gray-700"
                >Computers</a
              >
            </li>
            <li>
              <a
                href="/product/category/Technology/subcategory/Smartphone"
                class="block px-4 py-2 hover:bg-gray-700"
                >Smartphone</a
              >
            </li>
          </ul>
        </li>

        <!-- Clothing -->
        <li class="group/cloth">
          <a
            href="/product/category/Clothing"
            class="block px-4 py-2 hover:bg-gray-700"
            >Clothing</a
          >
          <ul
            class="absolute right-full top-10 w-40 bg-gray-800 text-white rounded shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 invisible group-hover/cloth:visible"
          >
            <li>
              <a
                href="/product/category/Clothing/subcategory/Men"
                class="block px-4 py-2 hover:bg-gray-700"
                >Men</a
              >
            </li>
            <li>
              <a
                href="/product/category/Clothing/subcategory/Women"
                class="block px-4 py-2 hover:bg-gray-700"
                >Women</a
              >
            </li>
            <li>
              <a
                href="/product/category/Clothing/subcategory/Kids"
                class="block px-4 py-2 hover:bg-gray-700"
                >Kids</a
              >
            </li>
          </ul>
        </li>

        <!-- Home -->
        <li class="group/home">
          <a
            href="/product/category/Home"
            class="block px-4 py-2 hover:bg-gray-700"
            >Home</a
          >
          <ul
            class="absolute right-full top-20 w-40 bg-gray-800 text-white rounded shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 invisible group-hover/home:visible"
          >
            <li>
              <a
                href="/product/category/Home/subcategory/Furniture"
                class="block px-4 py-2 hover:bg-gray-700"
                >Furniture</a
              >
            </li>
            <li>
              <a
                href="/product/category/Home/subcategory/Kitchen"
                class="block px-4 py-2 hover:bg-gray-700"
                >Kitchen</a
              >
            </li>
            <li>
              <a
                href="/product/category/Home/subcategory/Decor"
                class="block px-4 py-2 hover:bg-gray-700"
                >Decor</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <!-- Carrito -->
    <li>
      <button
        *ngIf="isAuth"
        (click)="cart()"
        class="bg-blue-500 px-4 py-2 rounded hover:bg-blue-700"
      >
        Cart
      </button>
    </li>

    <!-- Login / Logout -->
    <!-- Si está autenticado, mostrar avatar -->
    <li *ngIf="isAuth" class="relative">
      <button (click)="toggleAvatarMenu()" class="focus:outline-none">
        <img
          *ngIf="user"
          [src]="'http://localhost:5169' + user.imageAvatar"
          alt="Avatar"
          class="w-10 h-10 rounded-full border-2 border-white object-cover"
        />
      </button>

      <div
        *ngIf="avatarMenuOpen"
        class="absolute right-0 mt-2 w-40 bg-gray-800 text-white rounded shadow-lg z-50"
      >
        <button
          (click)="logout()"
          class="block w-full text-left px-4 py-2 hover:bg-gray-700"
        >
          Logout
        </button>
        <button 
          *ngIf="user.role == 0"
          (click)="upgradeRole()"
          class="block w-full text-left px-4 py-2 hover:bg-gray-700"
        >
          Upgrade role
        </button>
        <button 
          *ngIf="user.role == 2"
          (click)="dashboard()"
          class="block w-full text-left px-4 py-2 hover:bg-gray-700"
        >
          Dashboard
        </button>
      </div>
    </li>

    <!-- Si no está autenticado -->
    <li *ngIf="!isAuth">
      <button
        (click)="login()"
        class="bg-blue-500 px-4 py-2 rounded hover:bg-blue-700"
      >
        Login
      </button>
    </li>
  </ul>

  <!-- Botón menú mobile -->
  <button
    class="md:hidden text-2xl focus:outline-none"
    (click)="toggleSidebar()"
  >
    ☰
  </button>
</nav>

<!-- Sidebar fondo -->
<div
  class="fixed inset-0 bg-black bg-opacity-50 z-40 md:hidden"
  *ngIf="isSidebarOpen"
  (click)="toggleSidebar()"
></div>

<!-- Sidebar mobile -->
<div
  class="fixed top-0 left-0 w-64 h-full bg-gray-800 text-white shadow-lg transform transition-transform z-50 p-5"
  [ngClass]="{
    '-translate-x-full': !isSidebarOpen,
    'translate-x-0': isSidebarOpen
  }"
>
  <!-- Cierre -->
  <button class="text-xl mb-4 focus:outline-none" (click)="toggleSidebar()">
    ✕
  </button>

  <!-- Barra de búsqueda (mobile) -->
  <div class="mb-6">
    <input
      [(ngModel)]="searchTerm"
      (keyup.enter)="search()"
      type="text"
      placeholder="Search products..."
      class="w-full px-4 py-2 rounded bg-gray-100 text-black focus:outline-none"
    />
    <button
      (click)="search()"
      class="w-full mt-2 bg-blue-500 px-4 py-2 rounded hover:bg-blue-700"
    >
      Search
    </button>
  </div>

  <!-- Menú móvil -->
  <ul class="space-y-4">
    <li><a routerLink="/" class="block hover:text-gray-400">Home</a></li>

    <!-- Dropdown en Sidebar  -->
    <li>
      <button
        class="w-full text-left hover:text-gray-400"
        (click)="toggleCategories()"
      >
        Category ▼
      </button>
      <ul *ngIf="isCategoriesOpen" class="ml-4 space-y-2">
        <li>
          <button
            href="/product/category/Technology"
            class="w-full text-left hover:text-gray-400"
            (click)="toggleSubcategory('tech')"
          >
            Technology ▼
          </button>
          <ul *ngIf="isTechOpen" class="ml-4 space-y-2">
            <li>
              <a
                href="/product/category/Technology/subcategory/Console"
                class="block hover:text-gray-400"
                >Consoles</a
              >
            </li>
            <li>
              <a
                href="/product/category/Technology/subcategory/PC"
                class="block hover:text-gray-400"
                >PC</a
              >
            </li>
            <li>
              <a
                href="/product/category/Technology/subcategory/Smartphone"
                class="block hover:text-gray-400"
                >Smartphone</a
              >
            </li>
          </ul>
        </li>
        <li>
          <button
            href="/product/category/Clothing"
            class="w-full text-left hover:text-gray-400"
            (click)="toggleSubcategory('clothing')"
          >
            Clothing ▼
          </button>
          <ul *ngIf="isClothingOpen" class="ml-4 space-y-2">
            <li>
              <a
                href="/product/category/Clothing/subcategory/Men"
                class="block hover:text-gray-400"
                >Men</a
              >
            </li>
            <li>
              <a
                href="/product/category/Clothing/subcategory/Women"
                class="block hover:text-gray-400"
                >Women</a
              >
            </li>
            <li>
              <a
                href="/product/category/Clothing/subcategory/Kids"
                class="block hover:text-gray-400"
                >Kids</a
              >
            </li>
          </ul>
        </li>
        <li>
          <button
            href="/product/category/Home"
            class="w-full text-left hover:text-gray-400"
            (click)="toggleSubcategory('home')"
          >
            Home ▼
          </button>
          <ul *ngIf="isHomeOpen" class="ml-4 space-y-2">
            <li>
              <a
                href="/product/category/Home/subcategory/Furniture"
                class="block hover:text-gray-400"
                >Furniture</a
              >
            </li>
            <li>
              <a
                href="/product/category/Home/subcategory/Kitchen"
                class="block hover:text-gray-400"
                >Kitchen</a
              >
            </li>
            <li>
              <a
                href="/product/category/Home/subcategory/Decor"
                class="block hover:text-gray-400"
                >Decor</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <button
        *ngIf="isAuth"
        (click)="cart()"
        class="bg-blue-500 px-4 py-2 rounded hover:bg-blue-700"
      >
        Cart
      </button>
    </li>
  </ul>

  <!-- Login / Logout (mobile) -->
  <div class="mt-6" *ngIf="!isAuth">
    <button
      (click)="login()"
      class="bg-blue-500 px-4 py-2 w-full rounded hover:bg-blue-700"
    >
      Login
    </button>
  </div>

  <div *ngIf="isAuth" class="mt-6 flex items-center space-x-3">
    <img
      *ngIf="user"
      [src]="'http://localhost:5169' + user.imageAvatar"
      alt="Avatar"
      class="w-12 h-12 rounded-full border-2 border-white object-cover"
    />
    <div>
      <button (click)="logout()" class="text-sm text-red-400 hover:underline">
        Logout
      </button>
      <button *ngIf="user.role == 0" (click)="upgradeRole()" class="text-sm text-400 hover:underline">Upgrade role</button>
      <button *ngIf="user.role == 2" (click)="dashboard()" class="text-sm text-400 hover:underline">Dashboard</button>
    </div>
  </div>
</div>
