<div class="container mx-auto p-4">
  <div class="flex flex-col md:flex-row gap-6 items-start">
    <button
      (click)="toggleFilters()"
      class="flex items-center gap-2 bg-blue-600 text-white px-4 py-2 rounded-md mb-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2a1 1 0 01-.293.707L15 13.414V19a1 1 0 01-1.447.894l-4-2A1 1 0 019 17v-3.586L3.293 6.707A1 1 0 013 6V4z"
        />
      </svg>
    </button>
    <aside
      *ngIf="showFilters"
      class="filters bg-white shadow-md rounded-lg p-4 w-full md:w-1/4 flex flex-col gap-4 self-start"
    >
      <h2 class="text-lg font-semibold mb-2">Filters</h2>

      <input
        type="number"
        [(ngModel)]="minPrice"
        placeholder="Min Price"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      />

      <input
        type="number"
        [(ngModel)]="maxPrice"
        placeholder="Min Price"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      />

      <button
        (click)="filterProducts()"
        class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold px-6 py-2 rounded-md transition duration-300"
      >
        Filter
      </button>
    </aside>

    <div class="w-full md:w-3/4">
      <app-product-shared [products]="filteredProducts"></app-product-shared>
    </div>
  </div>
</div>
